.total {
  display: flex;
  margin: auto;
  width: 60%;
  margin-top: 10%;
}
* {
  box-sizing: border-box;
}

.contenedor {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  background-color: whitesmoke;
  display: flex;
  position: fixed;
  top: 0%;
  left: 0%;
}
.mostrar {
  pointer-events: auto;
  opacity: 1;
}
#primero {
  width: 50%;
  position: relative;
}
#primero img {
  width: 100%;
  height: 100%;
}
#ver {
  background: none;
  border: none;
  position: absolute;
  top: 40%;
  left: 40%;
  font-size: 30px;
  color: whitesmoke;
}
.segundo {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
}
.segundo h1 {
  font-size: 35px;
  margin-bottom: 0%;
  margin-left: 3%;
  margin-right: 3%;
}
.segundo p {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  margin-left: 3%;
  margin-right: 3%;
}
#modal {
  display: flex;
  flex-direction: column;
}
#modal button {
  margin-top: 2%;
}
@media (max-width: 768px) {
  .total {
    display: flex;
    margin: auto;
    width: 90%;
    margin-top: 10%;
  }
}
@media (max-width: 425px) {
  .total {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    margin-top: 10%;
  }
  #primero {
    width: 100%;
    position: relative;
  }
  .segundo {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  #modal {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}
